#nice-gallery{
	
}

#nice-gallery__images{
	display: flex;
	flex-direction: horizontal;
	justify-content: center;
	flex-wrap: wrap;
}

#nice-gallery__images img{
	margin: 5px;
}

#nice-gallery__lightbox{
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;

	width: 100%;
	height: 100vh;
}

#nice-gallery__lightbox__bg{
	background: rgba(0,0,0,.8);
	position: relative;
	width: 100%;
	height: 100%;

	z-index: 0;
}

#nice-gallery__lightbox__img-container{
	position: absolute;
	width: 100%;
	top: 40px;
	bottom: 80px;
	overflow: hidden;

	display: flex;
	flex-direction: row;
	justify-content: center;

	z-index: 1;
}

#nice-gallery__lightbox__image{
	border-radius: 4px;
	width: 90%;
	height: auto;
	object-fit: cover;
	user-select: none;
}

#nice-gallery__lightbox__controllers{
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	height: 40px;

	display: flex;
	justify-content: space-around;
	pointer-events: none;
}

#nice-gallery__lightbox__controllers .fa{
	color: white;
	font-size: 30px;
	height: 100%;
	position: relative;
	z-index: 2;
	pointer-events: auto;
	user-select: none;
}

#nice-gallery__lightbox__controllers .fa:hover,
#nice-gallery__lightbox__controllers .fa:focus, {
	opacity: .6;
}

#nice-gallery__lightbox{
	
}

.no-scroll{
  height: 100%;
  overflow: hidden;
}